.about {
    position: relative;
    padding-bottom: 120px;
    &__blur {
        position: absolute;
        top: -150px;
        z-index: -1;
        height: 800px;
        img {
            height: 100%;
            display: block;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__img {
        flex:0 0 555px;
        img {
            border-radius: 16px;
            width: 100%;
            display: block;
        }   
    }
    &__descr {
        flex: 0 0 487px;
    }
    &__title {
        text-align: left;
    }
    &__subtitle {
        text-align: left;
        margin-top: 10px;
        text-transform: none;
        padding-right: 30px;
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #150C01;
        opacity: 0.7;
        margin: 30px 0;
    }
    &__btn {
        padding: 11px 30px;
        text-decoration: none;
    }
}