.mobile {
    &__container {
        margin: 75px 0;
        background-color: rgba(251, 241, 231, 1);
        min-height: 518px;

    }
    .container {
        position: relative;
    }
    &__wrapper {
        padding: 114px 0 130px 100px;
        width: 650px;
    }
    &__img {
        position: absolute;
        top: -40px;
        right: 95px;
        width: 325px;
        img {
            width: 100%;
            display: block;
        }
    }
    &__title {
        text-align: left;
    }
    &__subtitle {
        font-family: 'Philosopher';
        font-weight: 700;
        font-size: 31.25px;
        line-height: 41px;
        color: #150C01;
        margin-top: 7px;
        text-align: left;
        width: 470px;
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #150C01;
        opacity: 0.7;
        margin: 30px 0 40px 0;
    }
    &__app-store {
        width: 163px;
        display: inline-block;
        margin-right: 30px;
        img {
            width: 100%;
        }
    }
    &__google-play {
        width: 180px;
        display: inline-block;
        img {
            width: 100%;
        }
    }
}